<h1><%= @title = "Forgotten Password" %></h1>

<% form_for :user do |form| %>

<% if flash[:msg] %><div id="confirmationMessage"><p><%= flash[:msg] %></p></div><% end %>
<% if flash[:error] %><div id="errorExplanation"><p><%= flash[:error] %></p></div><% end %>

<ul>
  <li><%= form.label :email, 'Email Address' %> <%= form.text_field :email %></li>
  <li><%= form.submit 'Retrieve Password' %></li>
</ul>

<% end %>