<h1>Register</h1>

<% form_for :user do |form| %>

<%= error_messages_for 'user', :header_message => 'Errors occurred processing your registration.' %>

<ul>
  
  <li><%= form.label :username %> <%= form.text_field :username %></li>
  <li><%= form.label :password %> <%= form.password_field :password %></li>
  <li><%= form.label :password_confirmation, 'Confirm Password' %> <%= form.password_field :password_confirmation %></li>
  <li><%= form.label :email, 'Email Address' %> <%= form.text_field :email %></li>
  <li><%= form.submit 'Register' %></li>
  
</ul>

<% end %>