<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title><%= @title %></title>  
  <%= stylesheet_link_tag 'style' %>
</head>
<body>
  
  <div id="container-outer">
    
    <div id="container">
      
      <ul id="nav">
        
        <li><%= link_to 'Forums', { :controller => 'boards' } %></li>
        <li><%= link_to 'New Topic', { :controller => 'Topics', :action => 'new' } %></li>
        <li><%= link_to 'Members', { :controller => 'Users' } %></li>
        <li><%= link_to 'Search', { :controller => 'Search' } %></li>
        
        <% if logged_in?
        @user = User.find_by_id(session[:user_id]) %>
        <li class="right"><%= link_to 'Logout', logout_url %></li>
        <li class="right"><%= link_to 'My Profile', user_url(@user) %></li>
        <% else %>
        <li class="right"><%= link_to 'Login', login_url %></li>
        <li class="right"><%= link_to 'Register', register_url %></li>
        <% end %>
      </ul>
      
    <%= @content_for_layout %>
    </div>
    
  </div>

  <%= debug(params) if Rails.env.development? %>
  <%= debug(session) if Rails.env.development? %>

</body>
</html>